:root {
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 9px 9px 18px #c4c4c4, -9px -9px 18px #ffffff;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color);
}

.home {
}

.button {
  width: fit-content;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 43px;
  background: #8fa5e5;
  box-shadow: 5px 5px 10px #6e7fb0, -5px -5px 10px #b0cbff;
}

.output {
}
